body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/* PANTALLA 1 */
.desingScreen1{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../img/home.jpg")
}
.cartelCallofGeeks{
    background-color: transparent;
    height: 10em;
    width: 40em;
    color: white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartelJugar{
    background-color: transparent;
    color: white;
    height: 5em;
    width: 20em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* PANTALLA 2 */
.desingScreen2{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../img/P2\,3.jpg");
}
.soldados{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.soldaditoimg{
    height: 100%;
    width: 100%;
}
.soldado1{
    height: 25em;
    width: 15em;
    margin-right: 3em;
}

.soldado2{
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 25em;
    width: 15em;
    margin-right: 3em;
}
.soldado3{
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 25em;
    width: 15em;
    margin-right: 3em;
}
.soldado4{
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 25em;
    width: 15em;
    margin-right: 3em;
}
.soldado5{
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 25em;
    width: 15em;
    margin-right: 3em;
}
.soldado6{
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 25em;
    width: 15em;
}
.cartelSeleccionar{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 25em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 5em;
}
/* PANTALLA 3 */

.desingScreen3{
    background-image: url("../img/P4.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.soldadosBatalla{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
    margin-left: 3.5em;
}
.estadisticasBatalla{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.soldadoBatalla1{
    /* background-size: cover;
    background-repeat:no-repeat;
    background-position: center; */
    height: 25em;
    width: 15em;
}
.estadistica1{
    background-color: transparent;
    color: white;
    height: 8em;
    width: 15em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 25em 25em 25em 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 5em;
}
.soldadoBatalla2{
    /* background-size: cover;
    background-repeat:no-repeat;
    background-position: center; */
    height: 25em;
    width: 15em;
}
.estadistica2{
    background-color: transparent;
    color: white;
    height: 8em;
    width: 15em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 5em;
}
.botonJugar{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 25em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 5em;
}
/* PANTALLA 4 */
.desingScreen4{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../img/GAMEOVER.jpg")
}
.ganador{
    background-size: cover;
    background-repeat:no-repeat;
    height: 25em;
    width: 15em;
}
.cartelGanador{
    background-color: transparent;
    color: white;
    height: 5em;
    width: 15em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 5em;
}
.botonReiniciar{
    background-color: transparent;
    color: white;
    height: 5em;
    width: 20em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}