body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

                        /* PANTALLA 1 */
.desingScreen1{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../img/home.jpg")
    
}
                /* CARTEL DEL JUEGO PRINCIPAL */
.cartelCallofGeeks{
    background-color: transparent;
    height: 10em;
    width: 40em;
    color: white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letrasCartel{
    font-family: fantasy;
    font-size: 100px;
}
                /* CARTEL DE INICIO DEL JUEGO */
.cartelJugar{
    position: relative;
    display: inline-block;
    padding: 15 px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.cartelJugar:hover{
    background: #a945c77a;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.75s;
    height: 5em;
    width: 15em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cartelJugar span{
    position:absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
}
.cartelJugar:hover #span1{
    left: 100%;
    transition: 0.55s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);
}
.cartelJugar:hover #span3{
    left: 100%;
    transition: 0.5s;
    transition-delay: 0.15s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.cartelJugar:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.cartelJugar:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.35s;
}
.letrasJugar{
    font-family: monospace;
    font-size: 40px;
    user-select: none;
}

                    /* PANTALLA 2 */
.desingScreen2{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../img/P2\,3.jpg");
}
            /* CONTENEDOR DE LOS SOLDADOS */
.soldados{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13em;
}
.soldaditoimg{
    height: 100%;
    width: 100%;
}
.soldado1{
    height: 25em;
    width: 15em;
    margin-right: 3em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
}
.soldado2{
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 25em;
    width: 15em;
    margin-right: 3em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
}
.soldado3{
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 25em;
    width: 15em;
    margin-right: 3em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
}
.soldado4{
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 25em;
    width: 15em;
    margin-right: 3em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
}
.soldado5{
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 25em;
    width: 15em;
    margin-right: 3em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
}
.soldado6{
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 25em;
    width: 15em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
}
            /* CARTEL DE SELECCIONAR PERSONAJE */
.cartelSeleccionar{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 45em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 15em;
}
.letrasSeleccionar{
    font-size: 50px;
    font-family: monospace;
}
        /* CONTENEDOR DE LOS NOMBRES DE LOS SOLDADOS EN HTML */
.nombres{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
    margin-block-end: 5em;
}
.letrasNombres{
    font-size: 18px;
    font-family: monospace;
}
.nombre1{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 15em;
    border-color:red;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    text-align-last: center;
    margin-block-end: 5em;
    margin-right: 3em;
}
.nombre2{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 15em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    text-align-last: center;
    margin-block-end: 5em;
    margin-right: 3em;
}
.nombre3{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 15em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    text-align-last: center;
    margin-block-end: 5em;
    margin-right: 3em;
}
.nombre4{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 15em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    text-align-last: center;
    margin-block-end: 5em;
    margin-right: 3em;
}
.nombre5{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 15em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    text-align-last: center;
    margin-block-end: 5em;
    margin-right: 3em;
}
.nombre6{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 15em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    text-align-last: center;
    margin-block-end: 5em;
    margin-right: 3em;
}
        /* LO QUE HACE QUE SE VEA SELECCIONADO EL SOLDADO */
.soldadoSeleccionado{
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%)
}
                       /* PANTALLA 3 */
.desingScreen3{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/P4.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
        /* CONTENEDOR DE LOS 2 SOLDADOS ENFRENTADOS */
.soldadosBatalla{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
}
.muestraSoldado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto{
    height: 100%;
    width: 100%;
}
.estadisticasBatalla{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 3em;
}
.soldadoBatalla1{
    height: 25em;
    width: 15em;
    margin-right: 3em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
}
.estadistica1{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 15em;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block-end: 5em;
}
.soldadoBatalla2{
    height: 25em;
    width: 15em;
    margin-right: 3em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
}
.estadistica2{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 15em;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block-end: 5em;
}
.vidSoldado{
    background-color: transparent;
    color: white;
    height: 2em;
    width: 6em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}
            /* CARTEL DE JUGAR */
.rayGuns{
    height: 7em;
    width: 7em;
}
.botonJugar{
    position: relative;
    display: inline-block;
    padding: 15 px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    margin-block-end: 2em;
}
.botonJugar:hover{
    background: #a945c77a;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.75s;
    height: 15em;
    width: 25em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonJugar span{
    position:absolute;
    display: block;
}
#span5{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
}
.botonJugar:hover #span5{
    left: 100%;
    transition: 0.55s;
}
#span7{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);
}
.botonJugar:hover #span7{
    left: 100%;
    transition: 0.5s;
    transition-delay: 0.15s;
}
#span6{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.botonJugar:hover #span6{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span8{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.botonJugar:hover #span8{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.35s;
}
                /* PANTALLA 4 */
.desingScreen4{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../img/GAMEOVER.jpg")
}
            /* CONTENEDOR DE SOLDADO GANADOR */
.bordeGanador{
    background-size: cover;
    background-repeat:no-repeat;
    height: 25em;
    width: 15em;
    border-color: red;
    border-width: 4px;
    border-style: solid;
}
.ganador{
    height: 100%;
    width: 100%;
}
.winner{
    height: 100%;
    width: 100%;
}
.estadisticaGanador{
    background-color: transparent;
    color: white;
    height: 10em;
    width: 15em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartelGanador{
    background-color: transparent;
    color: white;
    height: 5em;
    width: 25em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}
            /* BOTON DE REINICIAR EL JUEGO */
.botonReiniciar{
    position: relative;
    display: inline-block;
    padding: 15 px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.botonReiniciar:hover{
    background: #a945c77a;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.75s;
    height: 5em;
    width: 20em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50em 50em 50em 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonReiniciar span{
    position:absolute;
    display: block;
}
#span9{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
}
.botonReiniciar:hover #span9{
    left: 100%;
    transition: 0.55s;
}
#span11{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);
}
.botonReiniciar:hover #span11{
    left: 100%;
    transition: 0.5s;
    transition-delay: 0.15s;
}
#span10{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.botonReiniciar:hover #span10{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span12{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.botonReiniciar:hover #span12{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.35s;
}
